# Logs
logs
*.log
npm-debug.log*

# Distribution/minified files
dist
client/bundle.js
client/bundle.css
client/stylesheets/app.css

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules