body {
  background: url('stylesheets/img/lightBlue.png');
  color: white;
}
input {
  outline: none;
  border: none;
  border-radius: 0;
  margin: 1em 0;
  background: transparent;
  transition: all 0.5s;
}
input:focus {
  background: white;
}
