/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

// Colors from Blue Tiled Background
/*@lightTone: #017DD2;
@focusTone: #0177CA;
@darkTone: #0172C0;*/

// Dynamic Colors
@focusTone: #E72824;
@lightTone: @focusTone + #222222;
@darkTone: @focusTone - #222222;

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

// Import and Assign Google Fonts
@NotoSans: 'Noto Sans', sans-serif;
@BodyFont: @NotoSans;

.BodyFont(@color: white, @size: 1.0em){
    font-family: @NotoSans;
    color: @color;
    font-size: @size;
    line-height: @size + 0.25em;
    padding: 0.25em 0;
}

/*
Currently Not Working
section.page.login{

    div.container{
        width: 26em;
    }

}*/

div.container{

    h1, h2, h3, p{
        .BodyFont();
        margin: 0.5em 0;
    }

    h1, h2, h3, h4{
        font-weight: bold;
        color: @darkTone;
    }

    h1{
        font-size: 1.75em;
    }

    h2{
        font-size: 1.5em;
    }

    p{
        color: @darkTone;
    }

}

/*--------------------------------------------*/
/*---> LAYOUT <-------------------------------*/
/*--------------------------------------------*/

.Center(@textAlign: center){
    margin: auto 0;
    text-align: @textAlign;
    //display: block;
}

html{
    height: 100%;
    overflow-x: hidden;
    background: url('stylesheets/img/blurPhone1.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
    height: 100%;
    //background: @focusTone url('stylesheets/img/transDiagmonds.png');
}

nav{

    position: absolute;
    width: 100%;
    height: 4em;
    top: 0;

    background: @focusTone url('stylesheets/img/transDiagmonds.png');

    div.navbar-header{
        .BodyFont(white, 1.5em);
        padding: 0.5em;
        margin-left: 1.5em;
        font-weight: bolder;
    }
    
}

div.container{
    height: 100%;
    margin: 0 2em;
    padding: 4em 2em 2em;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.35);

    main {
        height: 100%;
        section {
            height: 100%;
        }
    }
}

.threads {
    height: 100%;
}

.thread {
    position: absolute;
    height: 80%; // TODO: Find a better way to do this so it only fills the height of its container (and doesn't overrun the bottom)
    width: 75%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 2em;

    .beforemessages {
        height: 15%;
    }
    .messages {
        height: 65%;
        overflow: auto;
    }
    .aftermessages {
        height: 20%;
    }
}

/* Custom awesomplete colors */
div.awesomplete {
    li[aria-selected=true] {
        background-color: #3a5795;
    }
    li[aria-selected=false] mark, li[aria-selected=true] mark {
        background: inherit;
    }
}

/*--------------------------------------------*/
/*---> FORMS <--------------------------------*/
/*--------------------------------------------*/

.FormCleanse(){
    outline: none;
    border: none;
    border-radius: 0;
}

.PlaceHolder(@color: white) {
    input::-webkit-input-placeholder { color: @color; }
    input:-moz-placeholder { color: @color; }
    textarea::-webkit-input-placeholder { color: @color; }
    textarea:-moz-placeholder { color: @color; }
}

input, button{
    .FormCleanse();
    .Center();
    display: block;
    margin: 0.5em 0;
    width: 100%;
    //height: 3em;
    box-sizing: border-box;
    // So apparently, padding is not a thing
    .BodyFont();
    background: transparent;
    border: 0.25em solid @darkTone;
    transition: all 0.5s;
}

input{
    //.PlaceHolder(white);
    color: @darkTone;
}

input:focus{
    background: rgba(255, 255, 255, 0.75);
    // Do not remove this, for some reason, text changes to white without it
    color: @darkTone;
}

button{
    width: 50%;
    margin: auto auto;
    border-radius: 0.75em;
    background: transparent;
    color: white;
    // Based on tutorial from: stackoverflow.com/questions/17212094/fill-background-color-left-to-right-css
    background: linear-gradient(to right, @darkTone 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 0.5s ease;
}

button:hover{
    background-position: right bottom;
    color: @darkTone;
    font-weight: bolder;
    border-radius: 1.5em;
}

button:active{
    .OpacityPulse();
}

/*--------------------------------------------*/
/*---> ANIMATIONS <---------------------------*/
/*--------------------------------------------*/

@-webkit-keyframes opacityPulse{
    from{
        opacity: 1.0;
    }
    50%{
        opacity: 0.25;
    }
    to{
        opacity: 1.0;
    }
}

.OpacityPulse(){
    animation: opacityPulse 0.5s linear infinite;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.slideInLeft {
    animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.slideInRight {
    animation-name: slideInRight;
}

@-webkit-keyframes slideOutLeft {
    from {
        transform: translate3d(0, 0, 0);
        visibility: visible;
        opacity: 1;
    }

    to {
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
    }
}

.slideOutLeft {
    animation-name: slideOutLeft;
}

@-webkit-keyframes slideOutRight {
    from {
        transform: translate3d(0, 0, 0);
        visibility: visible;
        opacity: 1;
    }

    to {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
}

.slideOutRight {
    animation-name: slideOutRight;
}

/*--------------------------------------------*/
/*---> VINESH'S ADDITIONS <-------------------*/
/*--------------------------------------------*/

//Semitransparent background for temporary div viewing
@see: rgba(21, 21, 21, 0.5);

.SquareButton(@side: 2em){
    border-radius: 0;
    width: @side;
    height: @side;
    position: absolute;
}

div.form-group{

    button{
        .SquareButton(3em);
    }

}

div.beforemessages{

    h4{
        .BodyFont(@darkTone, 1.5em);
        margin-left: 2em;
    }

    button{
        .SquareButton();
        margin-top: -4.70em;
    }

}