body {
	background: url('stylesheets/img/lightBlue.png');
	color: #fff;
}

.FormCleanse(){
	outline: none;
	border: none;
	border-radius: 0;
	background: orange;
}

input{
	.FormCleanse();
	margin: 1em 0;
	background: purple;
}