body {
  background: url('stylesheets/img/lightBlue.png');
  color: #fff;
}
input {
  outline: none;
  border: none;
  border-radius: 0;
  background: orange;
  margin: 1em 0;
  background: purple;
}
