section.page.login
    h2 Login to Facebook to access Dashboard
    input.form-control(type='email', placeholder='Email', data-hook='email')
    input.form-control(type='password', placeholder='Password', data-hook='password')
    button.btn.btn-default(type='submit', data-hook='login') Log in!
    p We #[strong never] store your credentials. You will have to log in each time you run Dashboard.