div.add-thread
    div.form-group
        label(for='new-thread-name') Start a new conversation:&nbsp;
        input(name='new-thread-name', placeholder='Search your friends list...', data-hook='friends-list')
        | &nbsp;
        button.btn.btn-default(data-hook='add-new-thread') Go!

        datalist(id='friends-list')
            option My dick
            option Chrome
            option Balls
            option Pussy in your face
            option Put your hands up
            option Christmas