div.add-thread
    div.form-group
        label(for='new-thread-name') Start a new conversation:&nbsp;
        input(name='new-thread-name', placeholder='Search your friends list...', data-hook='friends-list')
        | &nbsp;
        button.btn.btn-default(data-hook='add-new-thread') Go!