div.add-thread
    div.form-group
        input(name='new-thread-name', placeholder='Search your friends list...', data-hook='friends-list')
        button.btn.btn-default(data-hook='add-new-thread') Go!