div.thread.animated
    div.beforemessages
        h4(data-hook='name')
        button.btn.btn-xs.btn-primary(data-hook='refresh') &#8634;
    div.messages(data-hook='message-list')
    div.aftermessages
        input.form-control(type='text', placeholder='Write a message...', data-hook='reply')
        button.btn.btn-default(type='submit', data-hook='send-reply') Send message
