div.thread
    h4(data-hook='name')
    div(data-hook='message-list')
    input.form-control(type='text', placeholder='Write a message...', data-hook='reply')
    button.btn.btn-default(type='submit', data-hook='send-reply') Send message
    hr